.main {
    background-image: url("https://lh3.googleusercontent.com/proxy/tOOCKhKBsST8Whzq6B_FuYm1TwA8gb4XYmpOTrRRWf-J8uajPfp-wCMlW-BcttekVU0Ta8PxUbkilCb6s42ADVrPo2CJ65VX0Z0");
    background-size: cover;
    height : 800px;
    width: 100%;
}
